@use "../../sass/variables" as *;

// span {
//   color: #851848;
//   margin: auto;
// }

img {
  width: 4%;
  padding-right: 1em;
}

.divisor {
  // border-bottom: solid 0.3em #851848;
  width: 90%;
  max-height: 0.5rem;
  background-image: linear-gradient(
    to right,
    $color-ipn-ligth,
    $color-ipn-dark
  );
  margin: 0 auto;
  // margin-bottom: 1.5em;
}

.containerTitulo {
  text-align: center;
  margin: 3rem 0;
  background-color: white;
  min-height: 1em;

  justify-content: center;
  display: flex;
  align-items: center;

  width: 100%;
}

.tituloText {
  font-size: 24px;
}

//#region Medias Query

@media (min-width: 1025px) and (max-width: 1500px) {
  img {
    width: 4%;
    padding-right: 0.3em;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  img {
    width: 7%;
    padding-right: 0.3em;
  }
}

// Cuando la pantalla es menor a 700
@media only screen and (max-width: 700px) {
  .containerTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 15%;
    padding: 0;
  }
  span {
    display: none;
  }
}

@media only screen and (max-width: 344px) {
  .containerTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 15%;
    padding: 0;
  }
  span {
    display: none;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .card {
    max-width: 18em;
    min-height: 20em;
  }
  .textContainer {
    overflow: hidden;
    text-overflow: ellipsis;

    height: 126px;
  }
}

// /* Escritorio extra grande */
// @media only screen and (min-width: 1200px) {
// }
// /* Escritorio grande */
// @media only screen and (min-width: 992px) and (max-width: 1199px) {
// }

// /* Escritorio pequeño / tablet */
// @media only screen and (min-width: 768px) and (max-width: 991px) {
// }

// /* Tablets y phablets */
// @media only screen and (min-width: 576px) and (max-width: 767px) {
// }

// /* Teléfonos */
// @media only screen and (max-width: 575px) {
// }

//#endregion Medias Query
