// #region COLORS

$color-red: rgb(216, 33, 33);
$color-grey: #eee;
$color-dark-grey: #a7a5a5;
$color-darker-grey: #606060;

$color-green-ligth: rgb(80, 248, 170);
$color-green-dark: rgb(19, 139, 3);
$color-green-table: #138c87;

$color-orange-ligth: rgb(252, 196, 75);
$color-orange-dark: rgb(180, 99, 6);

$color-blue-ligth: rgb(80, 230, 250);
$color-blue-dark: #033297;

$color-ipn-dark: rgb(209, 15, 199);
$color-ipn-ligth: rgb(246, 150, 241);
$color-pink-dark: #d5538c;
$color-pink-light: #ff68a9;

// #endregion COLORS

// #region Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// #endregion Grid

//#region Dividers
.mb-20 {
  margin-bottom: 2rem;
}
.mb-40 {
  margin-bottom: 2rem;
}
.my-20 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.c-pointer {
  cursor: pointer;
}
//#endregion Dividers
