<!-- spinner.component.html -->
@if (isLoading()) {
  <div class="spinner-overlay">
    <div class="spinner-container">
      <div class="coin-container">
        <div class="coin">
          <div class="coin-front">
            <img
              src="../../assets/LOGO_psicologa.png"
              alt="Logo"
              class="coin-image"
            />
          </div>
          <div class="coin-back">
            <img
              src="../../assets/LOGO_psicologa.png"
              alt="Logo"
              class="coin-image"
            />
          </div>
        </div>
      </div>
      <p class="spinner-text">Cargando...</p>
    </div>
  </div>
}
