.text-bold {
  font-weight: bold;
}

.renglon {
  font-size: 20px;
  padding: 1em;
}

li::marker {
  content: "■ ";
  font-size: 1rem;
  color: #851848;
}

h2 {
  position: relative;
}

h2::after {
  content: attr(id);
  color: white;
  text-align: center;
  align-content: center;
  float: center;
  margin: auto;
  vertical-align: center;
  font-size: 15px;
  border-radius: 50%;
  background-color: #851848;
  height: 30px;
  width: 30px;
  position: absolute;

  top: 5px;
  left: -32px;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  margin: 1.5em;
}

.contenedorPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datos {
  width: 45%;
  height: 45%;
  margin: 1.5em;
}

.nombreClinica {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

button {
  background-color: #d5538c;
  border: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.btnfos {
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  // margin: 0 auto 2em;
  border-radius: 5px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.btnfos-1 {
  background: #d5538c;
  color: white;
}

.btnfos-1:hover {
  color: #851848;
}

.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}
.btnfos-1 rect {
  fill: none;
  stroke: #851848;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
}

.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

//#region Medias Query

@media (min-width: 900px) and (max-width: 1400px) {
}

// Cuando la pantalla es menor a 900
@media only screen and (max-width: 935px) {
  h2 {
    font-size: 1em;
    text-align: center;
  }

  h2::after {
    content: attr(id);
    color: white;
    text-align: center;
    align-content: center;
    float: center;
    margin: auto;
    vertical-align: center;
    font-size: 15px;
    border-radius: 50%;
    background-color: #851848;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50px;
    left: calc(100% - 50%);
  }

  .contenedorPrincipal {
    padding-top: 3em;
  }

  .datos {
    width: 90%;
  }

  .nombreClinica {
    margin: 0 0.27rem;
  }
}

@media only screen and (max-width: 344px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .card {
    max-width: 18em;
    min-height: 20em;
  }
  .textContainer {
    overflow: hidden;
    text-overflow: ellipsis;

    height: 126px;
  }
}

// /* Escritorio extra grande */
// @media only screen and (min-width: 1200px) {
// }
// /* Escritorio grande */
// @media only screen and (min-width: 992px) and (max-width: 1199px) {
// }

// /* Escritorio pequeño / tablet */
// @media only screen and (min-width: 768px) and (max-width: 991px) {
// }

// /* Tablets y phablets */
// @media only screen and (min-width: 576px) and (max-width: 767px) {
// }

// /* Teléfonos */
// @media only screen and (max-width: 575px) {
// }

//#endregion Medias Query
