<section class="px-2 py-2 d-flex justify-content-center">
  <div class="wrapper w-100">
    @for (instituto of institutos; track $index) {

    <div
      id="{{ instituto.id }}"
      class="contener card animate__animated animate__pulse"
    >
      <div
        class="row d-flex justify-content-center w-100 h-100 align-items-center"
      >
        <div class="card">
          <div class="card__side card__side--front">
            <div
              [attr.im]="instituto.imagen"
              class="card__picture card__picture--3"
            >
              &nbsp;
            </div>
            <div
              [attr.colorBack]="instituto.imagen"
              class="card__heading text-center"
            >
              <span class="heading-tertiary"> {{ instituto.nombre }}</span>
            </div>
            <div class="card__side--body">
              <div class="card__details">
                {{ instituto.descipcion }}
              </div>
            </div>
          </div>
          <div
            [attr.colorBack]="instituto.imagen"
            class="card__side card__side--back card__side--back-3"
          >
            <a
              href="#"
              (click)="verDetalle(instituto)"
              [routerLink]="['/detalles']"
              class="card__side--btn-text"
              >Ver Detalles &zigrarr;</a
            >
          </div>
        </div>
      </div>
    </div>

    }
  </div>
</section>

<section class="buttons"></section>
